<% include partials/header %>
    <div class="row">
        <h1 class="centered">Sign Up</h1>
        <div class="form-container">
            <form action="/register" method="POST">
                <div class="form-group">
                    <label for="username-input">Username</label>
                    <input id="username-input" class="form-control" type="text" name="username">
                </div>
                <div class="form-group">
                    <label for="password-input">Password</label>
                    <input id="password-input" class="form-control" type="password" name="password">
                </div>
                <div class="form-group">
                    <label for="first-name-input">First Name</label>
                    <input id="first-name-input" class="form-control" type="text" name="firstName">
                </div>
                <div class="form-group">
                    <label for="last-name-input">Last Name</label>
                    <input id="last-name-input" class="form-control" type="text" name="lastName">
                </div>
                <div class="form-group">
                    <label for="email-input">Email</label>
                    <input id="email-input" class="form-control" type="email" name="email">
                </div>
                <div class="form-group">
                    <label for="avatar-url-input">Avatar Image URL</label>
                    <input id="avatar-url-input" class="form-control" type="text" name="avatar">
                </div>
                <div class="form-group">
                    <label for="admin-code-input">Secret Code</label>
                    <input id="admin-code-input" class="form-control" type="password" name="adminCode">
                </div>
                <div class="form-group">
                    <input class="btn btn-primary btn-block" type="submit" value="Sign Up">
                </div>
            </form>
            <a href="/campgrounds">Back</a>
        </div>
    </div>
<% include partials/footer %>